# Ambiente virtual
.venv/
venv/

# Arquivos Python
__pycache__/
*.py[cod]

# Variáveis de ambiente
.env

# Banco SQLite local
tasks.db
*.db

# Testes
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db